<p id="notice"><%= notice %></p>

<p>
  <b>Log2fc:</b>
  <%= @auto24h_r2_fold_change.log2fc %>
</p>

<p>
  <b>Fdr:</b>
  <%= @auto24h_r2_fold_change.fdr %>
</p>

<p>
  <b>Pval:</b>
  <%= @auto24h_r2_fold_change.pval %>
</p>

<p>
  <b>De analysis:</b>
  <%= @auto24h_r2_fold_change.de_analysis_id %>
</p>

<p>
  <b>Treatment:</b>
  <%= @auto24h_r2_fold_change.treatment_id %>
</p>

<p>
  <b>Base treatment:</b>
  <%= @auto24h_r2_fold_change.base_treatment_id %>
</p>

<p>
  <b>Sequence:</b>
  <%= @auto24h_r2_fold_change.sequence_id %>
</p>

<p>
  <b>De datum:</b>
  <%= @auto24h_r2_fold_change.de_datum_id %>
</p>


<%= link_to 'Edit', edit_auto24h_r2_fold_change_path(@auto24h_r2_fold_change) %> |
<%= link_to 'Back', auto24h_r2_fold_changes_path %>
