<p id="notice"><%= notice %></p>

<p>
  <b>Accession:</b>
  <%= @gene_ontology.accession %>
</p>

<p>
  <b>Ontology root:</b>
  <%= @gene_ontology.ontology_root %>
</p>

<p>
  <b>Keyword:</b>
  <%= @gene_ontology.keyword %>
</p>


<%= link_to 'Edit', edit_gene_ontology_path(@gene_ontology) %> |
<%= link_to 'Back', gene_ontologies_path %>
