<h1>Listing hetero1h_fold_changes</h1>

<table>
  <tr>
    <th>Log2fc</th>
    <th>Fdr</th>
    <th>Pval</th>
    <th>De analysis</th>
    <th>Treatment</th>
    <th>Base treatment</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hetero1h_fold_changes.each do |hetero1h_fold_change| %>
  <tr>
    <td><%= hetero1h_fold_change.log2fc %></td>
    <td><%= hetero1h_fold_change.fdr %></td>
    <td><%= hetero1h_fold_change.pval %></td>
    <td><%= hetero1h_fold_change.de_analysis_id %></td>
    <td><%= hetero1h_fold_change.treatment_id %></td>
    <td><%= hetero1h_fold_change.base_treatment_id %></td>
    <td><%= hetero1h_fold_change.sequence_id %></td>
    <td><%= link_to 'Show', hetero1h_fold_change %></td>
    <td><%= link_to 'Edit', edit_hetero1h_fold_change_path(hetero1h_fold_change) %></td>
    <td><%= link_to 'Destroy', hetero1h_fold_change, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hetero1h fold change', new_hetero1h_fold_change_path %>
