<% if @result.class == {}.class then%>
  <table>
    <tr><th colspan="3" ><%= @result.fetch(:gene_name)   %> </th></tr>
    <tr><th colspan="3" ><%= @result.fetch(:description) %> </th></tr>
    <tr><th >Start</th><th>End</th><th>Frame</th></tr>
    <% interpro_hash = @result.fetch(:interpro)
       interpro_hash.each do |i,f_array|  %>
     <tr><th><%= i.accession %></th><th><%= i.desc %></td></tr>
      <% f_array.each do |f| %>
     <tr><td ><%= f.start_pos %> </td><td><%= f.end_pos %></td><td><%=f.frame%></td><td><%=f.annotation.interpro.accession%></td></tr>
    <%   end
       end %>
     <% @result.fetch(:no_interpro).each do |f|  %>
     <tr><td ><%= f.start_pos %> </td><td><%= f.end_pos %></td><td><%=f.frame%></td><td><%=(f.annotation.interpro.nil?)?"NA":f.annotation.interpro.accession%></td></tr>
    <% end %>
  </table>
<%else%>
  <pre><%= @result %></pre>
<% end %>
