<script>
  $(document).ready(function(){
    $("dd").hide();
    $("dt a").click(function(){
      $(this).parent().next().toggle("slow");
      return false;
    });
 });
</script>
 <style>
   dt a { color: #000; }
   dl,dd { margin: 0; }
   dt { background: lightgray; font-size: 18px; padding: 5px; margin: 2px; }
 </style>

<dl>
<% if @result.class == {}.class then%>
  <table>
    <tr><th colspan="5" >Gene name: <%= @result.fetch(:sequence).accession %> </th></tr>
    <tr><th colspan="5" ><%= @result.fetch(:sequence).description %> </th></tr>
    <tr><th>NCBI nt</th><td colspan="4" ><%= @result[:blast_nt].html_safe %> </td></tr>
    <tr><th>UniProt</th><td colspan="4" ><%= @result[:blast_uniprot].html_safe %> </td></tr>
    <tr><th>NCBI nr</th><td colspan="4" ><%= @result[:blast_nr].html_safe %> </td></tr>
    <% mm = @result[:mapman].join('<BR>') %>
    <tr><th>MapMan</th><td colspan="4" ><%= mm.blank? ? 'No match' : mm.html_safe %> </td></tr>

  </table>
<dt><a href="#">Interpro Scan Annotation</a></dt>
<dd>
  <table>
    <tr><th >Start</th><th>End</th><th>Frame</th><th>Application</th><th>App description</th></tr>
    <% interpro_hash = @result.fetch(:interpro)
       interpro_hash.each do |i,f_array|  %>
     <tr><td colspan="5" style="background-color:lightgray;" >InterPro: <a href = "http://www.ebi.ac.uk/interpro/IEntry?ac=<%= i.accession %>" ><%= i.description%></a></td></tr>
      <% f_array.each do |f| 
          url = f.annotation.annotation_source.url.sub(/@@/, f.annotation.accession) 
          href = "<a href=\"#{url}\" >#{f.annotation.annotation_source.name}</a>"%>
     <tr><td ><%= f.start_pos %> </td><td><%= f.end_pos %></td><td><%=f.frame%></td><td><%=href.html_safe%></td><td><%=f.annotation.description%></td></tr>
    <%   end
       end %>
    <% if @result.fetch(:no_interpro).size > 0 %> <tr><th style="background-color:lightgray;" colspan="5" >No InterPro Accession</th></tr><%end%>
     <% @result.fetch(:no_interpro).each do |f|  
          url = f.annotation.annotation_source.url.sub(/@@/, f.annotation.accession) 
          href = "<a href=\"#{url}\" >#{f.annotation.annotation_source.name}</a>" %>
     <tr><td ><%= f.start_pos %> </td><td><%= f.end_pos %></td><td><%=f.frame%></td><td><%=href.html_safe%></td><td><%=f.annotation.description%></td></tr>
    <% end %>
</table>
</dd>
<dt><a href="#">Experiments</a></dt>
<dd>
  <table>
    <% experiments_hash = @result.fetch(:experiments)
       denominator = (!params[:denominator].blank?) ?params[:denominator]:'2'
       experiments_hash.each do |x,x_array|  %>
     <tr>
         <td colspan="2" style="background-color:lightgray;" >Expreiment:<%= link_to( x.experiment.name, :controller => 'de_data', :experiment => x.experiment.name,:analysis_id => x.id, :base_treatment => denominator,:page => '1' ) %></td>
         <td style="background-color:lightgray;" colspan="3">Analysis method: <%=x.analysis_method%></td>
     </tr><tr>
         <td>Treatment</td>
         <td><a href="?denominator=<%=x_array[0][5]%>&file=<%=@result.fetch(:sequence).blast_db.file_name%>&query=<%=@result.fetch(:sequence).accession%>"><%=x_array[0][1]%></a></td>
         <td><a href="?denominator=<%=x_array[1][5]%>&file=<%=@result.fetch(:sequence).blast_db.file_name%>&query=<%=@result.fetch(:sequence).accession%>"><%=x_array[1][1]%></a></td>
         <td><a href="?denominator=<%=x_array[2][5]%>&file=<%=@result.fetch(:sequence).blast_db.file_name%>&query=<%=@result.fetch(:sequence).accession%>"><%=x_array[2][1]%></a></td>
         <td><a href="?denominator=<%=x_array[3][5]%>&file=<%=@result.fetch(:sequence).blast_db.file_name%>&query=<%=@result.fetch(:sequence).accession%>"><%=x_array[3][1]%></a></td>
     </tr><tr>
         <td>RPKM</td>
         <td><%=x_array[0][0]%></td>
         <td><%=x_array[1][0]%></td>
         <td><%=x_array[2][0]%></td>
         <td><%=x_array[3][0]%></td>
     </tr><tr>
         <td>Log2fc</td>
         <td><%=x_array[0][2]%></td>
         <td><%=x_array[1][2]%></td>
         <td><%=x_array[2][2]%></td>
         <td><%=x_array[3][2]%></td>
     </tr><tr>
         <td>pVal</td>
         <td><%=x_array[0][3]%></td>
         <td><%=x_array[1][3]%></td>
         <td><%=x_array[2][3]%></td>
         <td><%=x_array[3][3]%></td>
     </tr><tr>
         <td>FDR</td>
         <td><%=x_array[0][4]%></td>
         <td><%=x_array[1][4]%></td>
         <td><%=x_array[2][4]%></td>
         <td><%=x_array[3][4]%></td>
     </tr>
<% end %>
</table>
</dd>
<dt><a href="#">NA Sequence</a></dt>
<dd>
  <%= form_tag({:controller => "blast_dbs",:action => "sequence_map"}, {:name => "na_seq_form", :id => "na_seq_form", :remote => true, :method => "get", :class => 'submit_me'}) do %>
      <%= hidden_field_tag(:file, params[:file])%>
      <%= hidden_field_tag(:query, params[:query])%>
      <% frame_options = (1..6).map {|f| ["frame #{f.to_s}", f.to_s]}%>
      <%= select_tag(:frame_num, options_for_select(frame_options,@result[:frame]),{:onchange => "$(this).closest('form').submit()"}) %>
  <% end %>
<%= render(:partial => 'sequence', :object => @result) %>
</dd>
<dt><a href="#">AA Sequence</a></dt>
<dd>
<%= form_tag({:controller => "blast_dbs",:action => "aa_sequence_map"}, {:name => "aa_seq_form", :id => "aa_seq_form", :remote => true, :method => "get", :class => 'submit_me'}) do %>
    <%= hidden_field_tag(:file, params[:file])%>
    <%= hidden_field_tag(:query, params[:query])%>
    <% frame_options = (1..6).map {|f| ["frame #{f.to_s}", f.to_s]}%>
    <%= select_tag(:frame_num, options_for_select(frame_options,@result[:frame]),{:onchange => "$(this).closest('form').submit()"}) %>
<% end %>
<%= render(:partial => 'aa_sequence', :object => @result) %>
</dd>
</dl>

<%elsif @result.class == [].class %>
  <%= @result.count.to_s %> sequences found<br>
  <% @result.each do |s|%>
  <a href="/blast_dbs/fastasearch?file=<%=s.blast_db.file_name%>&query=<%= s.accession %>" ><%= s.accession %></a><br>
  <% end %>
<% else %>
  <pre><%= @result %></pre>
<% end %>

