

<%=form_tag "fastasearch", :method => "get" do  %>
  <%= hidden_field_tag(:file, @blast_db.file_name) %>
  <%= label_tag(:query, "Enter a comma separated list of sequence identifiers to download FASTA entries (limited to 100 results)") %><br>
  <%= text_area_tag(:query, "", :size => "80x2") %><br>
  <%= submit_tag("Search") %>
<%end%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blast_db.display_name %>
</p>

<p>
  <b>File name:</b>
  <%= @blast_db.file_name %>
</p>

<p>
  <b>Organism name:</b>
  <%= @blast_db.organism_name %>
</p>

<p>
  <b>Taxonomy:</b>
  <%= @blast_db.taxonomy_id %>
</p>

<p>
  <b>Description:</b>
  <%= @blast_db.description %>
</p>

<p>
  <b>Data type:</b>
  <%= @blast_db.data_type %>
</p>

<p>
  <b>Num seqs:</b>
  <%= @blast_db.num_seqs %>
</p>

<p>
  <b>Url:</b>
  <%= @blast_db.url %>
</p>

<!--<p>
  <b>Parent:</b>
  <%= @blast_db.parent %>
</p>-->

<% if current_user.admin? %>
<%= link_to 'Edit', edit_blast_db_path(@blast_db) %> |
i<% end %>
<%= link_to 'Back', blast_dbs_path %>
