<p id="notice"><%= notice %></p>

<p>
  <b>Accession:</b>
  <%= @interpro.accession %>
</p>

<p>
  <b>Desc:</b>
  <%= @interpro.desc %>
</p>

<p>
  <b>Gene ontology:</b>
  <%= @interpro.gene_ontology_id %>
</p>


<%= link_to 'Edit', edit_interpro_path(@interpro) %> |
<%= link_to 'Back', interpros_path %>
