<table id="options" cellspacing=15px width=800>
<tr>
<td>
<%= form_tag({:controller => "blast", :action => :submit}, :multipart => true, :onsubmit => 'return isFormValid(this);',:id => "starttblastnoptions", :name => "starttblastnoptions") do %>
<!--<form action="submit" method="post" name="starttblastnoptions" id="starttblastnoptions" onSubmit='return isFormValid(this);'> -->
<span id="step">1.</span> Enter your query sequence(s) in FASTA format or upload file: <br>
<textarea name="in_querysequence" id="in_querysequence" cols="50" rows="5"></textarea><br>
<%= file_field_tag :query_file %>
</td>
<td>
<span id="step">3.</span><br>
Select genome dataset listed below to BLAST the query sequence(s) against:<br><br>
<%= image_tag("checkall_button.gif", :alt => "check all button", :onClick=>"checkAll()") %>
<%= image_tag("checknull_button.gif", :alt => "uncheck all button", :onClick=>"unCheckAll()") %>
</td>
</tr>

<tr>
<td>
<span id="step">2.</span> Customise BLAST options:<br>
<li>
BLAST program
<select name="blastprogramchoice" id="blastprogramchoice" class="bton">
      	<option value="blastn">blastn, nucleotide against nucleotide, NCBI default)</option>
      	<option value="tblastn">tblastn (protein against 6-frame nucleotide</option>
      	<option value="tblastx">tblastx (6-frame nucleotide against 6-frame nucleotide)</option>
        </select>
</li>
<br>
<li>E-value cutoff<br>
<select name="expectvalue" id="expectvalue" class="bton">
      <option value="1e-10">1&times;10-10</option>
      <option value="1e-5">1&times;10-5</option>
      <option value="1e-4">1&times;10-4</option>
      <option value="1e-3">1&times;10-3</option>
      <option value="1e-2">0.01</option>
      <option value="1e-1">0.10</option>
      <option value="1">1.00</option>
      <option value="10">10.0</option>
    </select>
</li>
<br>
<li>Max number of results<br>
<select name="max_hits" id="max_hits" class="bton">
      <option value="1">1</option>
      <option value="10">10</option>
      <option value="50" selected >50</option>
      <option value="250">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
    </select>
</li>
<br>
<li>Output format<br>
<select name="output_format" id="output_format" class="bton">
      <option value="0">0: Pairwise (default)</option>
      <option value="6">6: Tabular (no comment lines)</option>
      <option value="7">7: Tabular (with comment lines)</option>
    </select>
</li>
</ul>
</td>

<td>
<span id="step">4.</span> Click to submit and run BLAST:<br>
<input type="submit" name="manydonesearch" value="SUBMIT" class="bton">
</td>
</tr>
</table>

<table id="bigTable">
<tr>
<td id="genomeTab">
<h1>
<a href"#" onClick="ChAll('green_algae'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('green_algae'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "unchecked checkbox", :border=>"0") %></a>
Green Algae (Chlorophyta)</h1>
<div id="green">
<ul>
<li><input type="checkbox" name="ch_genom[]" value="chlamydomonas_reinhardtii">Chlamydomonas reinhardtii</li>
<li><input type="checkbox" name="ch_genom[]" value="helicosporidium">Helicosporidium</li>
<li><input type="checkbox" name="ch_genom[]" value="micromonas">Micromonas</li>
<li><input type="checkbox" name="ch_genom[]" value="ostreococcus">Ostreococcus</li>
<li><input type="checkbox" name="ch_genom[]" value="scenedesmus_obliquus">Scenedesmus obliquus</li>
<li><input type="checkbox" name="ch_genom[]" value="volvox_carteri">Volvox carteri</li>
</ul>
</div>
</td>

<td id="genomeTab">

<h1>
<a href"#" onClick="ChAll('alveolata'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('alveolata'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "unchecked checkbox", :border=>"0") %></a>
Alveolata</h1>

<div id="alveolata">
<h2>
<a href"#" onClick="ChAll('dinophyceae'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('dinophyceae'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "unchecked checkbox", :border=>"0") %></a>
Dinophyceae
</h2>

<div id="dinophyceae">
<h3>
<a href"#" onClick="ChAll('symbiodinium'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('symbiodinium'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "unchecked checkbox", :border=>"0") %></a>
Symbiodinium

<ul>
<li><input type="checkbox" name="ch_genom[]" value="symbiodinium" >Symbiodinium</li>
<li><input type="checkbox" name="ch_genom[]" value="symb1_2" checked>symb1.2 assembly</li>
<li><input type="checkbox" name="ch_genom[]" value="kb82">kb8 assembly</li>
<li><input type="checkbox" name="ch_genom[]" value="mf105">mf105 assembly</li>
</ul>
</h3>
<h3>

<input disabled type="checkbox" name="ch_genom[]" value="other_dinophyceae">Other Dinophyceae



<h2>
<input disabled type="checkbox" name="ch_genom[]" value="other_alveolata">Other Alveolata
</h2>

<td id="genomeTab">

<h1>
<a href"#" onClick="ChAll('cnidaria'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('cnidaria'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
Cnidaria</h1>

<div id="cnidaria">
<ul>
<li>
<a href"#" onClick="ChAll('anthozoa'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('anthozoa'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
Anthozoa</li>
<ul>
<li><input type="checkbox" name="ch_genom[]" value="aiptasia_pallida">Aiptasia pallida</li>
<li><input disabled type="checkbox" name="ch_genom[]" value="acropora">Acropora</li>
<li><input disabled type="checkbox" name="ch_genom[]" value="nematostella">Nematostella</li>
</ul>
<li><input disabled type="checkbox" name="ch_genom[]" value="other_onidaria">Other Cnidaria</li>
</ul>
</div>


<h1>
<a href"#" onClick="ChAll('cyanobacteria'); return false;"><%= image_tag("checkbox_checked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
<a href"#" onClick="unChAll('cyanobacteria'); return false;"><%= image_tag("checkbox_UNchecked.jpg", :alt => "checked checkbox", :border=>"0") %></a>
Cyanobacteria</h1>

<div id="cyanobacteria">
<ul>
</ul>
</div>

</td>
</tr>
</table>
<%end%>

