<section class="round" xmlns="http://www.w3.org/1999/html">
  <script>
      $(function() {
          $( "#tabs" ).tabs();
      });
  </script>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Grossman Lab</a></li>
      <li><a href="#tabs-2">Palumbi Lab</a></li>
      <li><a href="#tabs-3">Pringle Lab</a></li>
    </ul>
    <div id="tabs-1">
      <dl>

        <dd><%= image_tag("SSA2-5.jpg", :alt => "SSA2-5", :class => "round", :size => '300x300') %></dd>
        <dt>SSA2-5:  These are ...</dt>
        <dd><%= image_tag("SSA2.jpg", :alt => "SSA2", :class => "round", :size => '300x300') %></dd>
        <dt>SSA2:  This is ...</dt>
        <dd><%= image_tag("SSA3-DIC.png", :alt => "SSA3-DIC", :class => "round", :size => '300x300') %></dd>
        <dt>SSA3-DIC:  This is ....</dt>
        <dd><%= image_tag("SSA3-13.png", :alt => "SSA3-13", :class => "round", :size => '300x300') %></dd>
        <dt>SSA3-13:  This is ....</dt>
        <dd><%= image_tag("SSB1-1.png", :alt => "SSB1-1", :class => "round", :size => '300x300') %></dd>
        <dt>SSB1-1:  This is ....</dt>
        <dd><%= image_tag("SSB1-2.png", :alt => "SSB1-2", :class => "round", :size => '300x300') %></dd>
        <dt>SSB1-2:  This is ....</dt>
        <dd><%= image_tag("SSE1-2.png", :alt => "SSE1-2", :class => "round", :size => '300x300') %></dd>
        <dt>SSE1-2:  This is ....</dt>
        <dd><%= image_tag("SSE1.png", :alt => "SSE1", :class => "round", :size => '300x300') %></dd>
        <dt>SSE1:  This is ....</dt>
        <dd><%= image_tag("SSF1-DIC.png", :alt => "SSF1-DIC", :class => "round", :size => '300x300') %></dd>
        <dt>SSF1-DIC:  This is ....</dt>

      </dl>


    </div>
    <div id="tabs-2">
      Content 2
    </div>
    <div id="tabs-3">
      Content 3
    </div>
  </div>
</section>

