<h1>Listing auto1h_r2_fold_changes</h1>

<table>
  <tr>
    <th>Log2fc</th>
    <th>Fdr</th>
    <th>Pval</th>
    <th>De analysis</th>
    <th>Treatment</th>
    <th>Base treatment</th>
    <th>Sequence</th>
    <th>De datum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auto1h_r2_fold_changes.each do |auto1h_r2_fold_change| %>
  <tr>
    <td><%= auto1h_r2_fold_change.log2fc %></td>
    <td><%= auto1h_r2_fold_change.fdr %></td>
    <td><%= auto1h_r2_fold_change.pval %></td>
    <td><%= auto1h_r2_fold_change.de_analysis_id %></td>
    <td><%= auto1h_r2_fold_change.treatment_id %></td>
    <td><%= auto1h_r2_fold_change.base_treatment_id %></td>
    <td><%= auto1h_r2_fold_change.sequence_id %></td>
    <td><%= auto1h_r2_fold_change.de_datum_id %></td>
    <td><%= link_to 'Show', auto1h_r2_fold_change %></td>
    <td><%= link_to 'Edit', edit_auto1h_r2_fold_change_path(auto1h_r2_fold_change) %></td>
    <td><%= link_to 'Destroy', auto1h_r2_fold_change, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auto1h r2 fold change', new_auto1h_r2_fold_change_path %>
