
<% prev_page= ((params[:page].to_i) - 1)
   next_page = params[:page].to_i + 1
   current_page = params[:page].to_i 
   current_base  = params[:base_treatment] %>
   <% if prev_page > 0 then 
     params[:page] = prev_page %> 
     <%= link_to("Previous", params) %> 
   <%end%>
   <%=current_page %> of <%=pluralize(@total_pages,"page")%>
   <%if next_page <= @total_pages then
     params[:page] = next_page %>
     <%= link_to( "Next", params) %> 
   <%end
     params[:page] = current_page%> 


<%= form_tag({:controller => "de_data"}, {:method => "get"}) do %>
  <%= hidden_field_tag(:experiment, params[:experiment])%>
  <%= hidden_field_tag(:analysis_id, params[:analysis_id])%>
  <%= hidden_field_tag(:base_treatment, params[:base_treatment])%>
  <%= hidden_field_tag(:treatment, params[:treatment])%>
  <%= hidden_field_tag(:page, "1")%>
  <%  default_order = params[:order_by] ? params[:order_by] : "pval" 
      default_filter = params[:filter] ? params[:filter] : "fdr"
      default_filter_value = params[:filter_value] ? params[:filter_value] : "0.01" %>
  <table style="border:solid 3px #000000;">
    <tr style="background-color:white;">
      <th><%=label_tag(:order_by, "Sort order")%></th>
      <th><%= label_tag(:filter, "Filter") %></th>
      <th><%= label_tag(:filter_value,"Filter value:") %></th>
      <td></td>
    </tr><tr style="background-color:lightgray;" >
      <td style="background-color:white;"><%= select_tag(:order_by, options_for_select([["p-Val","pval"],["FDR", "fdr"],["Log2FC asc","-log2fc"],["Log2FC desc","+log2fc"],["RPKM desc", "+rpkm"], ["RPKM asc", "-rpkm"]], default_order)) %></td>
      <td style="background-color:white;"><%= select_tag(:filter, options_for_select([["p-Val","pval"],["FDR", "fdr"]], default_filter)) %></td>
      <td style="background-color:white;"><%= text_field_tag(:filter_value, default_filter_value) %></td>
      <td style="background-color:white;"><%=submit_tag("Refresh")%></td>
    </tr>
  </table>

<% end %>



<table >
  <tr style="background-color:lightgray;">
    <th></th>
    <th colspan=2 style="text-align: center;border-left:solid 3px #ffffff;" >
        <% params[:base_treatment] = 1 %>
        <%=link_to("0µE",params)%>
    </th><th colspan=2 style="text-align: center;border-left:solid 3px #ffffff;" >
      <% params[:base_treatment] = 2 %>
      <%=link_to("10µE",params)%>
    </th><th colspan=2 style="text-align: center;border-left:solid 3px #ffffff;" >
      <% params[:base_treatment] = 3 %>
      <%=link_to("100µE",params)%>
    </th><th colspan=2 style="text-align: center;border-left:solid 3px #ffffff;" >
      <% params[:base_treatment] = 4 %>
      <%=link_to("500µE",params)%>
    </th>
  </tr>
  <tr style="text-align: center;background-color:lightgray;">
    <th>Sequence</th>
    <th style="border-left:solid 3px #ffffff;" >RPKM</th><th>Log2FC</th>
    <th style="border-left:solid 3px #ffffff;" >RPKM</th><th>Log2FC</th>
    <th style="border-left:solid 3px #ffffff;" >RPKM</th><th>Log2FC</th>
    <th style="border-left:solid 3px #ffffff;" >RPKM</th><th>Log2FC</th>
  </tr>

<% @results_hash.each_pair do |seq,d_array| %> 
  <tr>
    <td><a href="blast_dbs/fastasearch?denominator=<%= current_base %>&file=<%=seq.blast_db.file_name%>&query=<%=seq.accession%>"><%= seq.accession %></a></td>
    <td style="text-align:right;border-left:solid 3px #ffffff;"><%= d_array[1][0]%></td>
    <td><%= d_array[1][1]%></td>
    <td style="text-align:right;border-left:solid 3px #ffffff;"><%= d_array[2][0]%></td>
    <td><%= d_array[2][1]%></td>
    <td style="text-align:right;border-left:solid 3px #ffffff;"><%= d_array[3][0]%></td>
    <td><%= d_array[3][1]%></td>
    <td style="text-align:right;border-left:solid 3px #ffffff;"><%= d_array[4][0]%></td>
    <td><%= d_array[4][1]%></td>
  </tr>
<% end %>
</table>
 <% if prev_page > 0 then 
     params[:page] = prev_page %> 
     <%= link_to("Previous", params) %> 
 <%end%>
 <%=current_page %> of <%= pluralize(@total_pages,"page") %>
 <%if next_page <= @total_pages then
   params[:page] = next_page %>
   <%= link_to( "Next", params) %> 
 <%end %> 

