<script >
$(document).ready(
  function() {
    $( "#tabs" ).tabs({selected:<%= @tab %>});
    $( '#tabs' ).bind('tabsselect', function(event, ui) {
    t = document.getElementById("tab")
    t.value = ui.index;
    filter_form.submit();
  });
}
);

</script>

<% paginate_string = pagination()
   current_base = params[:base_treatment].blank? ? '2' :  params[:base_treatment] %>
<% dummy_params = params.clone; dummy_params.delete(:action);dummy_params.delete(:tab) %>



<%= paginate_string.html_safe %><%= link_to("cluster", {:controller => "de_data", :action => "heatmap"}.merge(dummy_params), {:style => 'float:right'}) %>


<%= form_tag({:controller => "de_data"}, {:name => "filter_form", :id => "filter_form", :method => "get"}) do %>
  <%= hidden_field_tag(:experiment, params[:experiment])%>
  <%= hidden_field_tag(:analysis_id, params[:analysis_id])%>
  <%= hidden_field_tag(:base_treatment, current_base)%>
  <%= hidden_field_tag(:treatment, params[:treatment])%>
  <%= hidden_field_tag(:page, "1")%>
  <%= hidden_field_tag(:tab, @tab)%>
  <%  default_order = params[:order_by] ? params[:order_by] : DEFAULT_ORDER
      default_filter = params[:filter] ? params[:filter] : DEFAULT_FILTER.delete(base_treatment)
      default_filter_value = params[:filter_value] ? params[:filter_value] : DEFAULT_FILTER_VALUE
      default_cluster = params[:cluster] ? params[:cluster] : ""
      format_annotation @annotation_hash %>

  <table style="border:solid 3px #000000;">
    <tr style="background-color:white;">
      <th><%=label_tag(:order_by, "Sort order")%></th>
      <th><%= label_tag(:filter, "Filter") %></th>
      <th><%= label_tag(:filter_value,"Filter value (0 to 1)") %></th>
      <td><%= label_tag(:search_value,"Annotation match") %></td>
      <td style="background-color:white;"><%=submit_tag("Refresh")%></td>
    </tr><tr style="background-color:lightgray;" >
      <td style="background-color:white;"><%= select_tag(:order_by, options_for_select([["p-Val","pval"],["FDR", "fdr"],["Log2FC asc","-log2fc"],["Log2FC desc","+log2fc"],["RPKM desc", "+rpkm"], ["RPKM asc", "-rpkm"]], default_order)) %></td>
      <td style="background-color:white;"><%= select_tag(:filter, options_for_select([["p-Val","pval"],["FDR", "fdr"]], default_filter)) %></td>
      <td style="background-color:white;"> < <%= text_field_tag(:filter_value, default_filter_value) %></td>
      <td style="background-color:white;"><%= text_field_tag(:search_value, @query) %></td>
      <td style="background-color:white;"><%=submit_tag("Download")%></td>
    </tr>
  </table>

<% end %>


<div id="tabs">
  <ul>
    <li><a href="#tabs-1">All</a></li>
    <li><a href="#tabs-2"><%= tab_label 1 %></a></li>
    <li><a href="#tabs-3"><%= tab_label 2 %></a></li>
    <li><a href="https://www.google.com"><%= tab_label 3 %></a></li>
  </ul>
  <div id="tabs-1">
    <% if @tab == "0" %>
      <%= render :partial => 'experiment_all', :locals => { :current_base => current_base } %>
    <% end %>
  </div>
  <div id="tabs-2">
    <% if @tab == "1" %>
      <%= render :partial => 'experiment', :locals => {:treatment_table_num => 1, :current_base => current_base } %>
    <% end %>
  </div>
  <div id="tabs-3">
    <% if @tab == "2" %>
      <%= render :partial => 'experiment', :locals => {:treatment_table_num => 2, :current_base => current_base } %>
    <% end %>
  </div>
  <div id="tabs-4">
    <% if @tab == "3" %>
      <%= render :partial => 'experiment', :locals => {:treatment_table_num => 3, :current_base => current_base } %>
    <% end %>
  </div>
</div>
<%= paginate_string.html_safe %>
