
<table>
  <tr>
    <th>Experiment</th>
    <th>Analysis method</th>
    <th colspan="4" >Treatments</th>
  </tr>

<% @de_analyses.each do |de_analysis| %>
  <tr>
    <td><%= de_analysis.experiment.name %></td>
    <td><%= de_analysis.analysis_method %></td>
    <% Treatment.all.each do |t|%>
      <td><a href="de_data?experiment=<%=de_analysis.experiment.name%>&analysis_id=<%=de_analysis.id%>&base_treatment=<%=t.id%>&page=1"><%= t.name %></a></td>
    <% end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New DE Analysis', new_de_analysis_path %>
