<p id="notice"><%= notice %></p>

<p>
  <b>Analysis method:</b>
  <%= @de_analysis.analysis_method %>
</p>

<p>
  <b>Script name:</b>
  <%= @de_analysis.script_name %>
</p>

<p>
  <b>Experiment:</b>
  <%= @de_analysis.experiment_id %>
</p>

<p>
  <b>Default treatment:</b>
  <%= @de_analysis.default_treatment_id %>
</p>

<%= link_to 'Edit', edit_de_analysis_path(@de_analysis) %> |
<%= link_to 'Back', de_analyses_path %>
