<p id="notice"><%= notice %></p>

<p>
  <b>Method:</b>
  <%= @de_analyasis.method %>
</p>

<p>
  <b>Script name:</b>
  <%= @de_analyasis.script_name %>
</p>

<p>
  <b>Experiment:</b>
  <%= @de_analyasis.experiment_id %>
</p>


<%= link_to 'Edit', edit_de_analyasis_path(@de_analyasis) %> |
<%= link_to 'Back', de_analyses_path %>
