 <header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <% if signed_in? %>
      <li><%= link_to "Blast", root_path %></li>
      <li><%= link_to "Data", blast_dbs_path %></li>
      <li><%= link_to "Experiments", de_analyses_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <% if current_user.admin? %>
      <li><%= link_to "Users", users_path %></li>
      <% end %>
 <!--     <li><%= link_to "Settings", edit_user_path(current_user) %></li>-->
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
      <% end %>
    </ul>
  </nav>
 </header>
