<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <meta name="keywords" content="SymbiBLAST, Symbiodinium, genome project, EST">
</head>
<body onLoad="fieldfocus()">
  <div id="main">
  <%= image_tag("coralheader.png", :alt => "SymbiBLAST") %>
  <span id="title" ><%= title %></span>
  <ul id="navo">
   <li><a href="/">BLAST</a></li>
   <li><a href="/blast_dbs" >Data</a></li>
   <li><a href="pages/about" >About</a></li>
  </ul>
  <br>

<%= yield %>
  </div>
<!--<%= debug(params) if Rails.env.development? %> -->
</body>
</html>
