<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <meta name="keywords" content="SymbiBLAST, Symbiodinium, genome project, EST">
</head>
<body onLoad="fieldfocus()">
  <div id="main">
  <%= image_tag("coralheader.png", :alt => "SymbiBLAST") %>
  <ul id="navo">
   <li><a href="/">BLAST</a></li>
   <li><a href=# >Data</a></li>
   <li><a href=# >About</a></li>
  </ul>

<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
